<main>
  <h2 class="features-title">Fonctionnalités</h2>
  <div class="features">
    <% features.forEach(feature => { %>
      <form action="features/<%= feature.id %>/save" method="post" class="feature">
        <div class="feature-header">
          <h3 class="feature-title"><%= feature.name %></h3>
          <button type="button" onclick="toggleFeature('<%= feature.id %>', '<%= !feature.enabled %>')">
            <%= feature.enabled ? 'Désactiver' : 'Activer' %>
          </button>
        </div>
        <p><%= feature.description %></p>
      </form>
    <% }) %>
  </div>
</main>