<label class="input">
  <span>Fréquence d'apparition du son "badass" pendant un silence :</span>
  <input type="number" name="badass_freq" value="<%= feature.data.badass_freq %>" min="0" max="1" step="any">
</label>
<div class="input-group">
  <span>Sons additionnels à jouer pendant un silence :</span>
  <div class="input-group">
    <% for (let i = 0; i < feature.data.others_freq.length + 1; i++) { %>
      <div class="input">
        <label class="input">
          <span>Son :</span>
          <% if (feature.data.others_freq[i] != null) { %>
            <span><%= feature.data.others_freq[i].name %></span>
            <audio controls autobuffer>
              <source src="data:audio/mp3;base64,<%= feature.data.others_freq[i].href %>">
            </audio>
          <% } else { %>
            <input type="file" name="audio" accept="audio/mp3">
          <% } %>
        </label>
        <label class="input">
          <span>Fréquence :</span>
          <input
            type="number"
            name="freq-<%= feature.data.others_freq[i]?.name %>"
            value="<%= feature.data.others_freq[i]?.freq %>"
            min="0"
            max="1"
            step="any"
          >
        </label>
        <% if (feature.data.others_freq[i] != null) { %>
          <button type="button" onclick="this.parentElement.remove()">Supprimer</button>
        <% } %>
      </div>
    <% } %>
  </div>
</div>